@CHARSET "UTF-8";

#top {
	background-color: #29455E;
	height: 36px;
	padding-left: 8px;
}
#title {
	font-family: "宋体";
	font-size: 24px;
	font-weight: bold;
	color: #FFFFFF;
	float: left;
}
#user {
	float: right;
	font-family: "宋体";
	font-size: 18px;
	color: #FFFFFF;
	padding-top: 8px;
}
#subtop {
	background-color: #6699CC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 20px;
	font-size: 14px;
	font-weight: bold;
	color: #CCCCCC;
	text-align: left;
	padding-left: 10px;
}
.btn_index {
	font-family: "宋体";
	font-size: 18px;
	color: #CCFFFF;
	background-color: #6699FF;
	float: right;
	margin-right: 5px;
	margin-top: 8px;
	margin-left: 200px;
}
.btn_logout {
	font-family: "宋体";
	font-size: 18px;
	color: #CCFFFF;
	background-color: #6699FF;
	float: right;
	margin-right: 5px;
	margin-top: 8px;
}

/* menu 下的配置 */
#menu
{
  width:140px; 
  height:40%; 
  text-align:center;
  margin:auto;
  padding:10px 0 0 0;
  float:left;
  padding-top:10px;
}
h1
{  
   cursor:pointer;
   font-size:12px;
   width: 140px;
   height: 25px;
   background:url(./images/nav_false.gif);
   text-align:center;
   padding:5px 0 0 0;
   border-bottom:1px inset RGB(186,204,206);
}
h2
{
  font-size:12px;
   width: 140px;
   height: 25px;
   border-bottom:1px inset RGB(186,204,206);
}
ul
{
	width: 140px;
	list-style-type: none;
	line-height:2.5;
	background-color:Lavender;
}
ul li
{
	list-style-type: none;
	padding-top:8px;
	border-bottom:2px inset RGB(246,247,249);
}
ul li a
{
  color:#003399;
  width:140px;
  text-align:center;
}
ul li a:link
{
  color:#666;
  text-decoration:none;
}
ul li a:visited
{
   text-decoration:none;
}
menu ul li a:hover
{
	background: RGB(171,180,255);
	text-decoration:none;
}
.no
{
	display:none;
}

/* mainFrame 下的配置 */
#mainFrame{
	width:500px; 
    height:500px; 
	position:relative;
    left:150px;
    top:10px;
	border:2px inset black;
}